# Node modules
node_modules/

# Logs
logs/
*.log

# Environment files
.env

# OS-specific files
.DS_Store

# npm debug files
npm-debug.log*

# Coverage directory used by testing tools
coverage/

# IDEs (Visual Studio Code, etc.)
.vscode/
.idea/

