/* SpecialistCard.module.css */
.specialistCard {
  border-radius: 50% 50% 0 0;
  overflow: hidden;
  background-color: #f0f9ff;
  transition: transform 0.3s;
}

.specialistCard:hover {
  transform: translateY(-10px);
}

.imgContainer {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; /* Creates a perfect circle */
  position: relative;
}

.doctorImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoContainer {
  background-color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.doctorName {
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.doctorSpecialty {
  color: #2AA7FF;
  margin-bottom: 10px;
}

.specialistDot {
  width: 10px;
  height: 10px;
  background-color: #2AA7FF;
  border-radius: 50%;
  margin: 0 auto;
}